# PIX DA SORTE — .gitignore

# Dependências
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/

# ⚠️ NUNCA enviar ao Git — contém senhas e tokens!
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
